, ,Status,ID,Nombre,Apellido,Cédula de Identidad,Fecha de nacimiento,Sexo,Departamento,Ciudad,Mail,Confirmación de Mail,Celular,Razón social,Nombre de fantasía,R.U.C,Rubro,Especifique el rubro,Cantidad de empleados (si no aplica: 0),Sitio web o redes sociales,Quiero ser Socio Plus,Cargá el logo de tu emprendimiento,Beneficios para socios ASEPY,Elegir modalidad de pago,Dirección de facturación,,Cargar autorización de debito automatico,Comprobante de transferencia,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,LinkedIn,Twitter,Facebook
Nº,Membresía,Status,ID,Nombre,Apellido,Cédula de Identidad,Fecha de nacimiento,Sexo,Departamento,Ciudad,Mail,Confirmación de Mail,Celular,Razón social,Nombre de fantasía,R.U.C,Rubro,Especifique el rubro,Cantidad de empleados (si no aplica: 0),Sitio web o redes sociales,Quiero ser Socio Plus,Cargá el logo de tu emprendimiento,Beneficios para socios ASEPY,Elegir modalidad de pago,Dirección de facturación,,Cargar autorización de debito automatico,Comprobante de transferencia,Comprobante de transferencia,,,Dirección,,,,,,,,,,,,,,,,,,,,,,,,,,LinkedIn,Twitter,Facebook
Nº,Membresía,Status,ID,Nombre,Apellido,Cédula de Identidad,Fecha de nacimiento,Sexo,Departamento,Ciudad,Mail,Confirmación de Mail,Celular,Razón social,Nombre de fantasía,R.U.C,Rubro,Especifique el rubro,Cantidad de empleados (si no aplica: 0),Sitio web o redes sociales,Quiero ser Socio Plus,Año de fundación,Cantidad de empleados (si no aplica: 0),,Sitio web o redes sociales,Nivel de Estudios,Año de inicio de actividades,Quiero ser Socio Plus,Cargá el logo de tu emprendimiento,Beneficios para socios ASEPY,Elegir modalidad de pago,Autorización DBA,Comprobante de TRANSF,Rubro Cerrado,Organizacion Cerrado,Facturacion Cerrado,Mes,Dirección de domicilio,Elegí la opción que más se adecua a tu caso,¿Cual es tu cargo?,Facturación del 2019,,,,,,,,,,,,,,,,,LinkedIn,Twitter,Facebook
1,Fundador,Activo,1,Agustín Francisco,Carrizosa Gubetich,302.165,23/07/47,masculino,Capital,Asunción,acarrizosa@cird.org.py,acarrizosa@cird.org.py,981418633,-,-,302165-3,-,-,-,-,-,-,,,,-,-,,-,-,-,,-,-,-,N/A,,-,-,-,-,,,,,,,,,,,,,,,,,-,-,-
2,Fundador,Activo,2,Alan,Ortiz,2289782,1977-03-02,masculino,Capital,Asunción,alanortiz95@gmail.com,alanortiz95@gmail.com,981142673,Prototipo Paraguay S.A,Prototipo,80097122-1,Marketing y publicidad,-,5,www.otroproto.com,-,2017,,,,Masterado,-,,-,-,-,,1 a 10 personas,Marketing y publicidad,Empresa,Entre 300 millones y 2.000 millones de Gs,,Dr. Weiss 618,empresa,socio - gerente,Entre 500 millones y 2.500 millones de Gs.,,,,,,,,,,,,,,,,,-,,-
3,Fundador,Activo,3,Alberto,Galeano2222,2.009.285,09/11/81,masculino,Capital,Asunción,gerencia@gparquitectos.com.py,gerencia@gparquitectos.com.py,,-,-,80090559-8,-,-,-,-,-,-,,,,-,-,,-,-,-,,-,-,-,N/A,,-,-,-,-,,,,,,,,,,,,,,,,,-,-,-
4,Fundador,Activo,4,Alberto,Vazquez,3.565.803,-,masculino,itapua,Encarnación,albertovazquezandino@gmail.com,albertovazquezandino@gmail.com,-,-,-,	3565803 - 7,-,-,-,-,-,-,,,,-,-,,-,-,-,,-,-,-,N/A,,-,-,-,-,,,,,,,,,,,,,,,,,-,-,-
5,Fundador,Activo,5,Ale Yamil,Rachid,1.561.511,11/01/83,masculino,Capital,Asunción,aleyrachid@gmail.com,aleyrachid@gmail.com,-,-,-,382096-3,-,-,-,-,-,-,,,,-,-,,-,-,-,,-,-,-,N/A,,-,-,-,-,,,,,,,,,,,,,,,,,-,-,-
6,Fundador,Activo,6,Alejandro,Houston,2.312.190,,masculino,Capital,Asunción,ale@thelab.com.py,ale@thelab.com.py,-,-,-,2312190-4,-,-,-,-,-,-,,,,-,-,,-,-,-,,-,-,-,N/A,,-,-,-,-,,,,,,,,,,,,,,,,,-,-,-
7,Fundador,Activo,7,Amir Dejesús,Pérez Britos,2.981.342,-,masculino,Capital,Asunción,aperez@kove.com.py,aperez@kove.com.py,-,-,-,2981342-5,-,-,-,-,-,-,,,,-,-,,-,-,-,,-,-,-,N/A,,-,-,-,-,,,,,,,,,,,,,,,,,-,-,-
8,Fundador,Activo,8,Andrea Analia,Acosta Pizurno,4.402.032,-,femenino,Capital,Asunción,andreitacosta@gmail.com,andreitacosta@gmail.com,-,-,-,4402029-5,-,-,-,-,-,-,,,,-,-,,-,-,-,,-,-,-,N/A,,-,-,-,-,,,,,,,,,,,,,,,,,-,-,-
9,Fundador,Activo,9,Andres Gabriel,,1.128.834,-,masculino,Capital,Asunción,asilva@okara.com.py,asilva@okara.com.py,-,-,-,1128834 - 5,-,-,-,-,-,-,,,,-,-,,-,-,-,,-,-,-,N/A,,-,-,-,-,,,,,,,,,,,,,,,,,-,-,-
10,Fundador,Activo,10,Luis Armando,Sosa Maciel,1.960.444,10/03/86,masculino,Capital,Asunción,VocFinder@gmail.com,VocFinder@gmail.com,,-,-,1960444 - 0,-,-,-,-,-,-,,,,-,-,,-,-,-,,-,-,-,N/A,,-,-,-,-,,,,,,,,,,,,,,,,,-,-,-
